# FastAPI dependencies
fastapi 
uvicorn[standard]

# Pydantic dependencies
pydantic
pydantic-settings
python-dotenv
python-multipart

# Database dependencies
alembic
sqlalchemy
psycopg2-binary

# ML/Analytics
pandas
scikit-learn
lightgbm
joblib

# pip install -r requirements.txt